:root {
    --v-anchor-base: #41a13f;
    --v-primary-base: #41a13f;
    --v-primary-lighten5: #d0ffc3;
    --v-primary-lighten4: #b3ffa8;
    --v-primary-lighten3: #97f58c;
    --v-primary-lighten2: #7ad972;
    --v-primary-lighten1: #5ebd58;
    --v-primary-darken1: #208626;
    --v-primary-darken2: #006c08;
    --v-primary-darken3: #005300;
    --v-primary-darken4: #003b00;
    --v-secondary-base: #424242;
    --v-secondary-lighten5: #c1c1c1;
    --v-secondary-lighten4: #a6a6a6;
    --v-secondary-lighten3: #8b8b8b;
    --v-secondary-lighten2: #727272;
    --v-secondary-lighten1: #595959;
    --v-secondary-darken1: #2c2c2c;
    --v-secondary-darken2: #171717;
    --v-secondary-darken3: #000000;
    --v-secondary-darken4: #000000;
    --v-accent-base: #ff4081;
    --v-accent-lighten5: #ffd8ff;
    --v-accent-lighten4: #ffbaed;
    --v-accent-lighten3: #ff9dd1;
    --v-accent-lighten2: #ff7fb6;
    --v-accent-lighten1: #ff619b;
    --v-accent-darken1: #df1368;
    --v-accent-darken2: #c00050;
    --v-accent-darken3: #a1003a;
    --v-accent-darken4: #820025;
    --v-error-base: #ff5252;
    --v-error-lighten5: #ffe4d5;
    --v-error-lighten4: #ffc6b9;
    --v-error-lighten3: #ffa99e;
    --v-error-lighten2: #ff8c84;
    --v-error-lighten1: #ff6f6a;
    --v-error-darken1: #df323b;
    --v-error-darken2: #bf0025;
    --v-error-darken3: #9f0010;
    --v-error-darken4: #800000;
    --v-info-base: #2196f3;
    --v-info-lighten5: #d4ffff;
    --v-info-lighten4: #b5ffff;
    --v-info-lighten3: #95e8ff;
    --v-info-lighten2: #75ccff;
    --v-info-lighten1: #51b0ff;
    --v-info-darken1: #007cd6;
    --v-info-darken2: #0064ba;
    --v-info-darken3: #004d9f;
    --v-info-darken4: #003784;
    --v-success-base: #4caf50;
    --v-success-lighten5: #dcffd6;
    --v-success-lighten4: #beffba;
    --v-success-lighten3: #a2ff9e;
    --v-success-lighten2: #85e783;
    --v-success-lighten1: #69cb69;
    --v-success-darken1: #2d9437;
    --v-success-darken2: #00791e;
    --v-success-darken3: #006000;
    --v-success-darken4: #004700;
    --v-warning-base: #fb8c00;
    --v-warning-lighten5: #ffff9e;
    --v-warning-lighten4: #fffb82;
    --v-warning-lighten3: #ffdf67;
    --v-warning-lighten2: #ffc24b;
    --v-warning-lighten1: #ffa72d;
    --v-warning-darken1: #db7200;
    --v-warning-darken2: #bb5900;
    --v-warning-darken3: #9d4000;
    --v-warning-darken4: #802700;
    --v-panel-base: #1e1e1e;
    --v-panel-lighten5: #949494;
    --v-panel-lighten4: #7a7a7a;
    --v-panel-lighten3: #616161;
    --v-panel-lighten2: #4a4a4a;
    --v-panel-lighten1: #333333;
    --v-panel-darken1: #050505;
    --v-panel-darken2: #000000;
    --v-panel-darken3: #000000;
    --v-panel-darken4: #000000;
    --v-toolbar-base: #272727;
    --v-toolbar-lighten5: #9f9f9f;
    --v-toolbar-lighten4: #858585;
    --v-toolbar-lighten3: #6c6c6c;
    --v-toolbar-lighten2: #545454;
    --v-toolbar-lighten1: #3d3d3d;
    --v-toolbar-darken1: #121212;
    --v-toolbar-darken2: #000000;
    --v-toolbar-darken3: #000000;
    --v-toolbar-darken4: #000000;
}

.v-toolbar__content, .v-toolbar__extension {
    align-items: center;
    display: flex;
    position: relative;
    background-color: rgb(0, 0, 0);
    z-index: 0;
}

.v-btn__content {
    align-items: center;
    color: white;
    display: flex;
    flex: 1 0 auto;
    justify-content: inherit;
    line-height: normal;
    position: relative;
    transition: inherit;
    transition-property: opacity;
}